@helper AddMap()
{
    <link rel="stylesheet" href="/Scripts/ol.css" type="text/css">
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script src="/Scripts/ol.js"></script>

    <div id="map" class="map"></div>
    <div id="myposition"></div>

    <script type="text/javascript">
        var osm_default = new ol.layer.Tile({
            source: new ol.source.OSM()
        });

        var map = new ol.Map({
            layers: [osm_default],
            target: 'map',
            view: new ol.View({
                center: ol.proj.fromLonLat([20.9224158, 44.2107675]),
                zoom: 7
            })
        });

        var mousePosition = new ol.control.MousePosition({
            coordinateFormat: ol.coordinate.createStringXY(2),
            projection: 'EPSG:4326',
            target: document.getElementById('myposition'),
            undefinedHTML: '&nbsp;'
        });

        map.addControl(mousePosition);


        function reverseGeocode(coords) {
            fetch('https://nominatim.openstreetmap.org/reverse?format=json&lon=' + coords[0] + '&lat=' + coords[1])
                .then(function (response) {
                    return response.json();
                }).then(function (json) {
                    console.log(json);
                    console.log(remapLang(json.display_name))
                    $("#street").val((json.address.road != undefined) ? remapLang(json.address.road) : "")
                    $("#city").val((json.address.city != undefined) ? remapLang(json.address.city) : "")
                    $("#zipCode").val((json.address.postcode != undefined) ? remapLang(json.address.postcode) : "")
                    $("#lon").val(json.lon)
                    $("#lat").val(json.lat)
                });
        }
        map.on("pointermove", function (evt) {
            var hit = this.forEachFeatureAtPixel(evt.pixel, function (feature, layer) {
                return true;
            });
            if (hit) {
                this.getTargetElement().style.cursor = 'pointer';
            } else {
                this.getTargetElement().style.cursor = '';
            }
        });

        map.on('click', function (evt) {
            var coord = ol.proj.toLonLat(evt.coordinate);
            let response = reverseGeocode(coord);
        });

        const langmap = {
            "А": "A",
            "Б": "B",
            "В": "V",
            "Г": "G",
            "Д": "D",
            "Ђ": "Đ",
            "Е": "E",
            "Ж": "Ž",
            "З": "Z",
            "И": "I",
            "Ј": "J",
            "К": "K",
            "Л": "L",
            "Љ": "Lj",
            "М": "M",
            "Н": "N",
            "Њ": "Nj",
            "О": "O",
            "П": "P",
            "Р": "R",
            "С": "S",
            "Т": "T",
            "Ћ": "Ć",
            "У": "U",
            "Ф": "F",
            "Х": "H",
            "Ц": "C",
            "Ч": "Č",
            "Џ": "Dž",
            "Ш": "Š",
            "а": "a",
            "б": "b",
            "в": "v",
            "г": "g",
            "д": "d",
            "ђ": "đ",
            "е": "e",
            "ж": "ž",
            "з": "z",
            "и": "i",
            "ј": "j",
            "к": "k",
            "л": "l",
            "љ": "lj",
            "м": "m",
            "н": "n",
            "њ": "nj",
            "о": "o",
            "п": "p",
            "р": "r",
            "с": "s",
            "т": "t",
            "ћ": "ć",
            "у": "u",
            "ф": "f",
            "х": "h",
            "ц": "c",
            "ч": "č",
            "џ": "dž",
            "ш": "š",
            ",": ","
        };

        function remapLang(str) {
            return str.replace(/[^\u0000-\u007E]/g, function (a) {
                return langmap[a] || a;
            });
        }
    </script>
}