.box {
    aspect-ratio : 2/1;
    flex-grow:1;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: #e7e7e7;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid #e1e1e1;
    box-shadow : 0px 0px 20px 0px #e3e3e3;
    cursor:pointer;
    font-weight:600;
    font-size: x-large;
    text-align:center;
}
#starRating {
}
.arrangement_image {
    aspect-ratio : 1/1;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    padding: 1rem;
}
.arrangement_image_details{
    aspect-ratio: 1/1;
    width: 100%;
    padding: 1rem;
    object-fit:cover;
}

