@model turisticki_aranzmani.Models.UserModel

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<div class="container">
        <div class="d-flex flex-grow-1 w-100">
            <div class="box flex-grow-1">
                Pregled korisnika
            </div>
            <div class="box flex-grow-1" onclick="location.href = 'createUser'">
                Kreirajte novog korisnika
            </div>
            <div class="box flex-grow-1">
                Neka akcija
            </div>

        </div>

</div>

