@model turisticki_aranzmani.Models.UserModel

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<div class="container">
        <div class="d-flex flex-grow-1 w-100">
            <div class="box">
                <h5>Dodaj korisnika</h5>
            </div>
            <div class="box">
                <h5>Dodaj menadzera</h5>
            </div>
            <div class="box">
                <h5>Neka akcija</h5>
            </div>

        </div>

</div>

