@model turisticki_aranzmani.Models.UserModel

@{
    ViewBag.Title = "Seller";
}

<h2>Prodavac</h2>

<h3 class="text-center">Dobrodosli, @Session["username"]</h3>
<h5 class="text-center">Ispod se nalaze akcije koje mozete preuzeti kao menadzer</h5>

<div class="container">
    <div class="d-flex flex-grow-1 w-100">
        <div onclick="location.href = '/seller/createResidence'" class="box flex-grow-1">
            Dodavanje i pregled smestaja
        </div>
        <div class="box flex-grow-1" onclick="location.href = 'seller/viewArrangements'">
            Kreiranje i pregled aranzmana
        </div>
        <div class="box flex-grow-1" onclick="location.href = 'seller/viewReservations'">
            Pregled rezervacija
        </div>
        <div class="box flex-grow-1" ">
            Pregled komentara
        </div>

    </div>

</div>
